.main-card {
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 5em;
    /* padding-bottom: 2em; */
    /* border-radius: 5px */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}