.results-table-container {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80%;

}

.number-of-results {
    font-size: 12px
}

.rows-per-page {
    font-size: 12px
}

.rows-per-page-selector {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.num-results-rows-per-page-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: flex;
    justify-content: space-between;
}

.results-table {
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-collapse: separate;
    border-spacing: 0;
    /* border-radius: 5px; */
}

.page-number-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-number-selector {
    padding: 1em 0 1em 0;
}

.results-table-header-row {
    background-color: var(--blue);
    color: white;    
}


.results-table-data-row:hover  {
    background-color: rgba(60, 172, 228, 0.2);
}

.results-table-header-item {
    font-weight: normal; 
    font-size: 16px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.results-table-data-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
