.search-form-container {
    /* margin-top: 2em; */
    height: 20em;
    padding-bottom: 1em;

}

.form-header {
    height: 4em;
    width: 100%;
    background-color: var(--blue);
    color: white;
    text-align: center;
}

.form-header-text {
    margin: 0;
    padding: 0.5em;
    height: 100%;
    font-size: 24px;
    text-align: center;
}

.form {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2em 1em 0em 1em;

}

.column {
    display: grid;
    /* flex-direction: column; */
    width: 50%
}

.btn {
    margin: 1em;
    width: 10em;
    height: 3em;
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius:0;
}


.btn:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}